.currencyBtn {
  margin: 2px;
}

.currencyImg {
  width: 32px;
  height: 32px;
}

.currencyCountText {
  position: absolute;
  top: -1px;
  left: 2px;
}

.enabledOrder {
  background-color: #449d44 !important;
}
