.cur32-1 {
    background: url('../currency_32.png?1279776205') no-repeat -3630px 0;
    width: 32px;
    height: 32px
}
.cur32-2 {
    background: url('../currency_32.png?1279776205') no-repeat -297px 0;
    width: 32px;
    height: 32px
}
.cur32-3 {
    background: url('../currency_32.png?1279776205') no-repeat -3564px 0;
    width: 32px;
    height: 32px
}
.cur32-4 {
    background: url('../currency_32.png?1279776205') no-repeat -396px 0;
    width: 32px;
    height: 32px
}
.cur32-5 {
    background: url('../currency_32.png?1279776205') no-repeat -3531px 0;
    width: 32px;
    height: 32px
}
.cur32-6 {
    background: url('../currency_32.png?1279776205') no-repeat -825px 0;
    width: 32px;
    height: 32px
}
.cur32-7 {
    background: url('../currency_32.png?1279776205') no-repeat -3696px 0;
    width: 32px;
    height: 32px
}
.cur32-8 {
    background: url('../currency_32.png?1279776205') no-repeat -2112px 0;
    width: 32px;
    height: 32px
}
.cur32-9 {
    background: url('../currency_32.png?1279776205') no-repeat -561px 0;
    width: 32px;
    height: 32px
}
.cur32-10 {
    background: url('../currency_32.png?1279776205') no-repeat -891px 0;
    width: 32px;
    height: 32px
}
.cur32-11 {
    background: url('../currency_32.png?1279776205') no-repeat -792px 0;
    width: 32px;
    height: 32px
}
.cur32-12 {
    background: url('../currency_32.png?1279776205') no-repeat -198px 0;
    width: 32px;
    height: 32px
}
.cur32-13 {
    background: url('../currency_32.png?1279776205') no-repeat -2871px 0;
    width: 32px;
    height: 32px
}
.cur32-14 {
    background: url('../currency_32.png?1279776205') no-repeat -1947px 0;
    width: 32px;
    height: 32px
}
.cur32-15 {
    background: url('../currency_32.png?1279776205') no-repeat -3201px 0;
    width: 32px;
    height: 32px
}
.cur32-16 {
    background: url('../currency_32.png?1279776205') no-repeat -264px 0;
    width: 32px;
    height: 32px
}
.cur32-17 {
    background: url('../currency_32.png?1279776205') no-repeat -3399px 0;
    width: 32px;
    height: 32px
}
.cur32-18 {
    background: url('../currency_32.png?1279776205') no-repeat -3663px 0;
    width: 32px;
    height: 32px
}
.cur32-19 {
    background: url('../currency_32.png?1279776205') no-repeat -1056px 0;
    width: 32px;
    height: 32px
}
.cur32-20 {
    background: url('../currency_32.png?1279776205') no-repeat -2706px 0;
    width: 32px;
    height: 32px
}
.cur32-21 {
    background: url('../currency_32.png?1279776205') no-repeat -3300px 0;
    width: 32px;
    height: 32px
}
.cur32-22 {
    background: url('../currency_32.png?1279776205') no-repeat -2838px 0;
    width: 32px;
    height: 32px
}
.cur32-23 {
    background: url('../currency_32.png?1279776205') no-repeat -2805px 0;
    width: 32px;
    height: 32px
}
.cur32-24 {
    background: url('../currency_32.png?1279776205') no-repeat -3729px 0;
    width: 32px;
    height: 32px
}
.cur32-25 {
    background: url('../currency_32.png?1279776205') no-repeat -4323px 0;
    width: 32px;
    height: 32px
}
.cur32-26 {
    background: url('../currency_32.png?1279776205') no-repeat -2673px 0;
    width: 32px;
    height: 32px
}
.cur32-35 {
    background: url('../currency_32.png?1279776205') no-repeat -528px 0;
    width: 32px;
    height: 32px
}
.cur32-27 {
    background: url('../currency_32.png?1279776205') no-repeat -3168px 0;
    width: 32px;
    height: 32px
}
.cur32-28 {
    background: url('../currency_32.png?1279776205') no-repeat -1782px 0;
    width: 32px;
    height: 32px
}
.cur32-29 {
    background: url('../currency_32.png?1279776205') no-repeat -3927px 0;
    width: 32px;
    height: 32px
}
.cur32-30 {
    background: url('../currency_32.png?1279776205') no-repeat -3069px 0;
    width: 32px;
    height: 32px
}
.cur32-31 {
    background: url('../currency_32.png?1279776205') no-repeat -1617px 0;
    width: 32px;
    height: 32px
}
.cur32-32 {
    background: url('../currency_32.png?1279776205') no-repeat -2013px 0;
    width: 32px;
    height: 32px
}
.cur32-33 {
    background: url('../currency_32.png?1279776205') no-repeat -858px 0;
    width: 32px;
    height: 32px
}
.cur32-34 {
    background: url('../currency_32.png?1279776205') no-repeat -3234px 0;
    width: 32px;
    height: 32px
}
.cur32-36 {
    background: url('../currency_32.png?1279776205') no-repeat -693px 0;
    width: 32px;
    height: 32px
}
.cur32-37 {
    background: url('../currency_32.png?1279776205') no-repeat -627px 0;
    width: 32px;
    height: 32px
}
.cur32-38 {
    background: url('../currency_32.png?1279776205') no-repeat -1122px 0;
    width: 32px;
    height: 32px
}
.cur32-39 {
    background: url('../currency_32.png?1279776205') no-repeat -2442px 0;
    width: 32px;
    height: 32px
}
.cur32-40 {
    background: url('../currency_32.png?1279776205') no-repeat -1584px 0;
    width: 32px;
    height: 32px
}
.cur32-41 {
    background: url('../currency_32.png?1279776205') no-repeat -3861px 0;
    width: 32px;
    height: 32px
}
.cur32-42 {
    background: url('../currency_32.png?1279776205') no-repeat 0 0;
    width: 32px;
    height: 32px
}
.cur32-43 {
    background: url('../currency_32.png?1279776205') no-repeat -1023px 0;
    width: 32px;
    height: 32px
}
.cur32-44 {
    background: url('../currency_32.png?1279776205') no-repeat -1353px 0;
    width: 32px;
    height: 32px
}
.cur32-45 {
    background: url('../currency_32.png?1279776205') no-repeat -1518px 0;
    width: 32px;
    height: 32px
}
.cur32-46 {
    background: url('../currency_32.png?1279776205') no-repeat -2376px 0;
    width: 32px;
    height: 32px
}
.cur32-47 {
    background: url('../currency_32.png?1279776205') no-repeat -2079px 0;
    width: 32px;
    height: 32px
}
.cur32-48 {
    background: url('../currency_32.png?1279776205') no-repeat -2640px 0;
    width: 32px;
    height: 32px
}
.cur32-49 {
    background: url('../currency_32.png?1279776205') no-repeat -1914px 0;
    width: 32px;
    height: 32px
}
.cur32-50 {
    background: url('../currency_32.png?1279776205') no-repeat -1881px 0;
    width: 32px;
    height: 32px
}
.cur32-51 {
    background: url('../currency_32.png?1279776205') no-repeat -4092px 0;
    width: 32px;
    height: 32px
}
.cur32-52 {
    background: url('../currency_32.png?1279776205') no-repeat -3828px 0;
    width: 32px;
    height: 32px
}
.cur32-53 {
    background: url('../currency_32.png?1279776205') no-repeat -330px 0;
    width: 32px;
    height: 32px
}
.cur32-54 {
    background: url('../currency_32.png?1279776205') no-repeat -2904px 0;
    width: 32px;
    height: 32px
}
.cur32-55 {
    background: url('../currency_32.png?1279776205') no-repeat -3597px 0;
    width: 32px;
    height: 32px
}
.cur32-56 {
    background: url('../currency_32.png?1279776205') no-repeat -3993px 0;
    width: 32px;
    height: 32px
}
.cur32-57 {
    background: url('../currency_32.png?1279776205') no-repeat -2739px 0;
    width: 32px;
    height: 32px
}
.cur32-58 {
    background: url('../currency_32.png?1279776205') no-repeat -2970px 0;
    width: 32px;
    height: 32px
}
.cur32-59 {
    background: url('../currency_32.png?1279776205') no-repeat -2937px 0;
    width: 32px;
    height: 32px
}
.cur32-60 {
    background: url('../currency_32.png?1279776205') no-repeat -66px 0;
    width: 32px;
    height: 32px
}
.cur32-61 {
    background: url('../currency_32.png?1279776205') no-repeat -1650px 0;
    width: 32px;
    height: 32px
}
.cur32-62 {
    background: url('../currency_32.png?1279776205') no-repeat -2277px 0;
    width: 32px;
    height: 32px
}
.cur32-63 {
    background: url('../currency_32.png?1279776205') no-repeat -33px 0;
    width: 32px;
    height: 32px
}
.cur32-64 {
    background: url('../currency_32.png?1279776205') no-repeat -1188px 0;
    width: 32px;
    height: 32px
}
.cur32-65 {
    background: url('../currency_32.png?1279776205') no-repeat -3465px 0;
    width: 32px;
    height: 32px
}
.cur32-66 {
    background: url('../currency_32.png?1279776205') no-repeat -165px 0;
    width: 32px;
    height: 32px
}
.cur32-76 {
    background: url('../currency_32.png?1279776205') no-repeat -2244px 0;
    width: 32px;
    height: 32px
}
.cur32-95 {
    background: url('../currency_32.png?1279776205') no-repeat -2046px 0;
    width: 32px;
    height: 32px
}
.cur32-96 {
    background: url('../currency_32.png?1279776205') no-repeat -990px 0;
    width: 32px;
    height: 32px
}
.cur32-97 {
    background: url('../currency_32.png?1279776205') no-repeat -594px 0;
    width: 32px;
    height: 32px
}
.cur32-67 {
    background: url('../currency_32.png?1279776205') no-repeat -957px 0;
    width: 32px;
    height: 32px
}
.cur32-68 {
    background: url('../currency_32.png?1279776205') no-repeat -1452px 0;
    width: 32px;
    height: 32px
}
.cur32-69 {
    background: url('../currency_32.png?1279776205') no-repeat -1848px 0;
    width: 32px;
    height: 32px
}
.cur32-70 {
    background: url('../currency_32.png?1279776205') no-repeat -4026px 0;
    width: 32px;
    height: 32px
}
.cur32-71 {
    background: url('../currency_32.png?1279776205') no-repeat -3762px 0;
    width: 32px;
    height: 32px
}
.cur32-72 {
    background: url('../currency_32.png?1279776205') no-repeat -462px 0;
    width: 32px;
    height: 32px
}
.cur32-73 {
    background: url('../currency_32.png?1279776205') no-repeat -726px 0;
    width: 32px;
    height: 32px
}
.cur32-74 {
    background: url('../currency_32.png?1279776205') no-repeat -1320px 0;
    width: 32px;
    height: 32px
}
.cur32-75 {
    background: url('../currency_32.png?1279776205') no-repeat -2508px 0;
    width: 32px;
    height: 32px
}
.cur32-77 {
    background: url('../currency_32.png?1279776205') no-repeat -231px 0;
    width: 32px;
    height: 32px
}
.cur32-78 {
    background: url('../currency_32.png?1279776205') no-repeat -3135px 0;
    width: 32px;
    height: 32px
}
.cur32-79 {
    background: url('../currency_32.png?1279776205') no-repeat -1254px 0;
    width: 32px;
    height: 32px
}
.cur32-80 {
    background: url('../currency_32.png?1279776205') no-repeat -4257px 0;
    width: 32px;
    height: 32px
}
.cur32-81 {
    background: url('../currency_32.png?1279776205') no-repeat -2409px 0;
    width: 32px;
    height: 32px
}
.cur32-82 {
    background: url('../currency_32.png?1279776205') no-repeat -2475px 0;
    width: 32px;
    height: 32px
}
.cur32-83 {
    background: url('../currency_32.png?1279776205') no-repeat -4290px 0;
    width: 32px;
    height: 32px
}
.cur32-84 {
    background: url('../currency_32.png?1279776205') no-repeat -3003px 0;
    width: 32px;
    height: 32px
}
.cur32-85 {
    background: url('../currency_32.png?1279776205') no-repeat -1749px 0;
    width: 32px;
    height: 32px
}
.cur32-86 {
    background: url('../currency_32.png?1279776205') no-repeat -660px 0;
    width: 32px;
    height: 32px
}
.cur32-87 {
    background: url('../currency_32.png?1279776205') no-repeat -3894px 0;
    width: 32px;
    height: 32px
}
.cur32-88 {
    background: url('../currency_32.png?1279776205') no-repeat -3333px 0;
    width: 32px;
    height: 32px
}
.cur32-89 {
    background: url('../currency_32.png?1279776205') no-repeat -1155px 0;
    width: 32px;
    height: 32px
}
.cur32-90 {
    background: url('../currency_32.png?1279776205') no-repeat -3366px 0;
    width: 32px;
    height: 32px
}
.cur32-91 {
    background: url('../currency_32.png?1279776205') no-repeat -2772px 0;
    width: 32px;
    height: 32px
}
.cur32-92 {
    background: url('../currency_32.png?1279776205') no-repeat -3267px 0;
    width: 32px;
    height: 32px
}
.cur32-93 {
    background: url('../currency_32.png?1279776205') no-repeat -1386px 0;
    width: 32px;
    height: 32px
}
.cur32-94 {
    background: url('../currency_32.png?1279776205') no-repeat -3102px 0;
    width: 32px;
    height: 32px
}
.cur32-98 {
    background: url('../currency_32.png?1279776205') no-repeat -132px 0;
    width: 32px;
    height: 32px
}
.cur32-99 {
    background: url('../currency_32.png?1279776205') no-repeat -2178px 0;
    width: 32px;
    height: 32px
}
.cur32-100 {
    background: url('../currency_32.png?1279776205') no-repeat -2574px 0;
    width: 32px;
    height: 32px
}
.cur32-101 {
    background: url('../currency_32.png?1279776205') no-repeat -924px 0;
    width: 32px;
    height: 32px
}
.cur32-102 {
    background: url('../currency_32.png?1279776205') no-repeat -3960px 0;
    width: 32px;
    height: 32px
}
.cur32-103 {
    background: url('../currency_32.png?1279776205') no-repeat -759px 0;
    width: 32px;
    height: 32px
}
.cur32-104 {
    background: url('../currency_32.png?1279776205') no-repeat -2343px 0;
    width: 32px;
    height: 32px
}
.cur32-105 {
    background: url('../currency_32.png?1279776205') no-repeat -3036px 0;
    width: 32px;
    height: 32px
}
.cur32-106 {
    background: url('../currency_32.png?1279776205') no-repeat -2310px 0;
    width: 32px;
    height: 32px
}
.cur32-107 {
    background: url('../currency_32.png?1279776205') no-repeat -2541px 0;
    width: 32px;
    height: 32px
}
.cur32-108 {
    background: url('../currency_32.png?1279776205') no-repeat -2607px 0;
    width: 32px;
    height: 32px
}
.cur32-109 {
    background: url('../currency_32.png?1279776205') no-repeat -1419px 0;
    width: 32px;
    height: 32px
}
.cur32-110 {
    background: url('../currency_32.png?1279776205') no-repeat -363px 0;
    width: 32px;
    height: 32px
}
.cur32-111 {
    background: url('../currency_32.png?1279776205') no-repeat -1287px 0;
    width: 32px;
    height: 32px
}
.cur32-112 {
    background: url('../currency_32.png?1279776205') no-repeat -1221px 0;
    width: 32px;
    height: 32px
}
.cur32-113 {
    background: url('../currency_32.png?1279776205') no-repeat -4125px 0;
    width: 32px;
    height: 32px
}
.cur32-114 {
    background: url('../currency_32.png?1279776205') no-repeat -1683px 0;
    width: 32px;
    height: 32px
}
.cur32-115 {
    background: url('../currency_32.png?1279776205') no-repeat -1089px 0;
    width: 32px;
    height: 32px
}
.cur32-116 {
    background: url('../currency_32.png?1279776205') no-repeat -4191px 0;
    width: 32px;
    height: 32px
}
.cur32-117 {
    background: url('../currency_32.png?1279776205') no-repeat -99px 0;
    width: 32px;
    height: 32px
}
.cur32-118 {
    background: url('../currency_32.png?1279776205') no-repeat -2145px 0;
    width: 32px;
    height: 32px
}
.cur32-119 {
    background: url('../currency_32.png?1279776205') no-repeat -4224px 0;
    width: 32px;
    height: 32px
}
.cur32-120 {
    background: url('../currency_32.png?1279776205') no-repeat -3795px 0;
    width: 32px;
    height: 32px
}
.cur32-121 {
    background: url('../currency_32.png?1279776205') no-repeat -1485px 0;
    width: 32px;
    height: 32px
}
.cur32-122 {
    background: url('../currency_32.png?1279776205') no-repeat -495px 0;
    width: 32px;
    height: 32px
}
.cur32-123 {
    background: url('../currency_32.png?1279776205') no-repeat -1551px 0;
    width: 32px;
    height: 32px
}
.cur32-124 {
    background: url('../currency_32.png?1279776205') no-repeat -1980px 0;
    width: 32px;
    height: 32px
}
.cur32-125 {
    background: url('../currency_32.png?1279776205') no-repeat -3498px 0;
    width: 32px;
    height: 32px
}
.cur32-126 {
    background: url('../currency_32.png?1279776205') no-repeat -3432px 0;
    width: 32px;
    height: 32px
}
.cur32-127 {
    background: url('../currency_32.png?1279776205') no-repeat -2211px 0;
    width: 32px;
    height: 32px
}
.cur32-128 {
    background: url('../currency_32.png?1279776205') no-repeat -4059px 0;
    width: 32px;
    height: 32px
}
.cur32-129 {
    background: url('../currency_32.png?1279776205') no-repeat -4158px 0;
    width: 32px;
    height: 32px
}
.cur32-130 {
    background: url('../currency_32.png?1279776205') no-repeat -1716px 0;
    width: 32px;
    height: 32px
}
.cur32-131 {
    background: url('../currency_32.png?1279776205') no-repeat -429px 0;
    width: 32px;
    height: 32px
}
.cur32-494 {
    background: url('../currency_32.png?1279776205') no-repeat -1815px 0;
    width: 32px;
    height: 32px
}
