.container {
  width: 95%;
}

.basic-border {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.currency-btn {
  margin: 2px;
}

.currency-img {
  width: 32px;
  height: 32px;
}

[currency_name="Orb of Alteration"] {
  margin-left: -1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.fastLine {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.slowLine {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}

.volumeBar {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.medianLine {
  fill: none;
  stroke: yellow;
  stroke-width: 1px;
}

svg {
  display: block;
  margin: 0 auto;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.divider-right {
  border-right: 1px solid #e5e5e5;
}

.divider-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.divider-top {
  border-top: 1px solid #e5e5e5;
}

.no-side-margins {
  margin-left: 0px;
  margin-right: 0px;
}

.currency-1 {
  float: left;
  padding-right: 5px;
}

.currency-2 {
  float: left;
  padding-left: 5px;
}


.junction {
  float: left;
  font-size: 20px;
  vertical-align: middle;
}

.align-text-vertical {
  vertical-align: middle;
}

.value-direction-right {
  transform: rotate(270deg);
}

.value-direction-left {
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.center {
  margin: 0 auto; 
}
